@import "./variables";

.title {
  color: $text-color;
  padding-bottom: 20px;
  text-align: center;
}
.text {
  color: $text-color;
}
.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: $btn-color;
  border-radius: 4px;
  color: white;
  text-align: center;
}
